<p *ngIf="message" class="im-action-message office-delete-message">{{ message }}</p>

<div class="im-page-container__content__table office-list-table">
    <div class="office-empty-message" *ngIf="allOffices().length === 0">
        <p>事業所が登録されていません</p>
    </div>

    <table *ngIf="allOffices().length > 0">
        <thead>
            <tr>
                <th>事業所名</th>
                <th>所在地</th>
                <th>登録日</th>
                <th *ngIf="permission === '管理'"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let office of allOffices()">
                <td>{{ office.name }}</td>
                <td>{{ office.prefecture }}</td>
                <td>{{ commonService.formatDate(office.createdAt) }}</td>
                <td *ngIf="permission === '管理'">
                    <button class="im-btn-primary" (click)="editOffice(office)">編集</button>
                    <button class="im-btn-soft im-btn-soft--danger" (click)="deleteOffice(office)">削除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="isOpenModal" class="office-edit-modal">
    <h3>事業所情報編集</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div>
            <label for="name">事業所名</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="prefecture">所在地</label>
            <select id="prefecture" formControlName="prefecture">
                <option *ngFor="let prefecture of PREFECTURES" [value]="prefecture">{{ prefecture }}</option>
            </select>
        </div>
    </form>
    <div>
        <button type="button" (click)="closeModal()" class="im-btn-soft">キャンセル</button>
        <button type="submit" class="im-btn-primary" (click)="submitForm()">保存</button>
    </div>
</div>