<h2>会社情報</h2>

<div *ngIf="message" class="im-action-message">{{ message }}</div>

<div>
    <div>
    <h3>基本情報</h3>
    <p>会社ID：{{ company?.companyId }}</p>
    <p>会社名：{{ company?.name }}</p>
    <p>事業形態：{{ company?.isCorporation ? '法人' : '個人事業' }}</p>
    <p>事業種：{{ company?.businessType }}</p>
    <p>常時従業員数：{{ company?.employeeCount }}</p>
    <p>本社住所：{{ company?.headOfficePrefecture }}</p>
    </div>
    <div>
    <h3>社会保険情報</h3>
    <p>社会保険加入義務：{{ company?.socialInsuranceRequired ? 'あり' : 'なし' }}</p>
    <p *ngIf="permission === '管理'">自動判定：{{ isSocialInsuranceRequired ? 'あり' : 'なし' }}</p>
    <p>任意適用事業所：{{ company?.optionalApplicableOffice ? 'あり' : 'なし' }}</p>
    <p>特定適用事業所：{{ company?.specificApplicableOffice ? 'あり' : 'なし' }}</p>
    <p *ngIf="permission === '管理'">自動判定：{{ isSpecificApplicableOffice ? 'あり' : 'なし' }}</p>
    <p>任意特定適用事業所：{{ company?.optionalSpecificApplicableOffice ? 'あり' : 'なし' }}</p>
    </div>

    <div *ngIf="permission === '管理'">
        <p>登録日：{{ commonService.formatDateTime(company?.createdAt) }}</p>
        <p>更新日：{{ commonService.formatDateTime(company?.updatedAt) }}</p>
    </div>
</div>

<div>
    <button *ngIf="permission === '管理' && mode !== 'view'" (click)="editCompany()">編集</button>
</div>

<div *ngIf="isOpenModal" class="company-edit-modal">
    <h3>会社情報編集</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div>
            <label for="name">会社名</label>
            <input type="text" id="name" formControlName="name">
            <div class="error">
                <p *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">会社名は必須です</p>
            </div>
        </div>
        <div>
            <label for="isCorporation">事業形態</label>
            <label for="isCorporation1">
            <input type="radio" id="isCorporation1" formControlName="isCorporation" value="true">
            法人</label>
            <label for="isCorporation2">
            <input type="radio" id="isCorporation2" formControlName="isCorporation" value="false">
            個人事業</label>
        </div>
        <div>
            <label for="businessType">事業種</label>
            <select id="businessType" formControlName="businessType">
                <option *ngFor="let businessType of BUSINESS_TYPES" [value]="businessType">{{ businessType }}</option>
            </select>
        </div>
        <div>
            <label for="employeeCount">常時従業員数</label>
            <input type="number" id="employeeCount" formControlName="employeeCount">
            <div class="error">
                <p *ngIf="form.get('employeeCount')?.errors?.['required'] && form.get('employeeCount')?.touched">常時従業員数は必須です</p>
                <p *ngIf="form.get('employeeCount')?.errors?.['min'] && form.get('employeeCount')?.touched">常時従業員数は1人以上です</p>
            </div>
        </div>
        <div>
            <label for="headOfficePrefecture">本社住所</label>
            <select id="headOfficePrefecture" formControlName="headOfficePrefecture">
                <option *ngFor="let prefecture of PREFECTURES" [value]="prefecture">{{ prefecture }}</option>
            </select>
        </div>
        <div>
            <label for="socialInsuranceRequired">社会保険加入義務</label>
            <label for="socialInsuranceRequired1">
            <input type="radio" id="socialInsuranceRequired1" formControlName="socialInsuranceRequired" value="true">
            あり</label>
            <label for="socialInsuranceRequired2">
            <input type="radio" id="socialInsuranceRequired2" formControlName="socialInsuranceRequired" value="false">
            なし</label>
        </div>
        <div>
            <label for="optionalApplicableOffice">任意適用事業所</label>
            <input type="checkbox" id="optionalApplicableOffice" formControlName="optionalApplicableOffice">
        </div>
        <div>
            <label for="specificApplicableOffice">特定適用事業所</label>
            <label for="specificApplicableOffice1">
            <input type="radio" id="specificApplicableOffice1" formControlName="specificApplicableOffice" value="true">
            あり</label>
            <label for="specificApplicableOffice2">
            <input type="radio" id="specificApplicableOffice2" formControlName="specificApplicableOffice" value="false">
            なし</label>
        </div>
        <div>
            <label for="optionalSpecificApplicableOffice">任意特定適用事業所</label>
            <input type="checkbox" id="optionalSpecificApplicableOffice" formControlName="optionalSpecificApplicableOffice">
        </div>
        <div>
            <button type="button" (click)="closeModal()">キャンセル</button>
            <button type="submit">保存</button>
        </div>
    </form>
</div>