<div class="header">

    <div class="header-left">
        <h1 class="app-title">
            <button type="button" class="app-title-button" (click)="toTop()" [disabled]="!showHeaderActions()">社会保険管理システム</button>
        </h1>
    </div>


    <div class="header-right">
        <ng-container *ngIf="showHeaderActions()">
            <button type="button" class="im-btn-soft" (click)="back()">◀</button>
            <button type="button" class="im-btn-soft" *ngIf="permission() === '管理' || permission() === '承認'" (click)="toEmployeeTop()">従業員用ページ</button>
            <button type="button" class="im-btn-soft" *ngIf="permission() === '管理' || permission() === '承認'" (click)="toManageTop()">管理者用ページ</button>
            <div class="user-info" *ngIf="loginEmployeeId() !== null">
                <p>社員ID: {{ loginEmployeeId() }}</p>
                <p>権限: {{ permission() }}</p>
                <p *ngIf="workingYear() && workingMonth()"> {{ workingYear() }}年{{ workingMonth() }}月分</p>
            </div>
            <button type="button" class="im-btn-soft" (click)="logout()">ログアウト</button>
        </ng-container>
    </div>

</div>